<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }}{% else %}joelworrall.com{% endif %}</title>

  <link href='http://fonts.googleapis.com/css?family=Lora:400|Open+Sans:400,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="icon" type="image/x-icon" href="/favicon.png" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
  <meta name="copyright" content="Joel Worrall" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta name="twitter:title" content="{{ page.title }}">
  {% endif %}

  {% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html }}" />
  <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
  {% endif %}

  <meta name="twitter:domain" content="joelworrall.com">
  <meta name="twitter:site" content="@tangollama">
  <meta name="twitter:creator" content="@tangollama">
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KQG9Q9K');</script>
<!-- End Google Tag Manager -->
</head>
