html {
  background: $true_black url(/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  @include sans;
  color: $text_color;
  font-size: 16px;
  line-height: 1.5;
}

/* clearfix (now called group, via http://css-tricks.com/snippets/css/clear-fix/) */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both; }
.group { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

a {
  font-weight: bold;
  color: $white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    opacity: .8;
  }
  &:active,
  &:focus { outline: none; }
}

::-moz-selection {
    background: rgba(51,51,51,.8);
    color: #fff;
    text-shadow: none;
}
::selection {
    background: rgba(51,51,51,.8);
    color: #fff;
    text-shadow: none;
}
