@import url(fonts/fonts.css);
@import url(responsive.css);
figure img, figure figcaption {
  width: 200px;
}
figcaption {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
figure {
  border: 10px solid grey;
  margin: 0px 20px 20px 10px;
  outline: black dotted;
  padding: 10px;
  width: fit-content;
  float: left;
}
/* Schrödinger's cat */
.boxed {
  line-height: 25px; 
  max-width: 400px;
  max-height: 200px;
  overflow: scroll;
}
main {
  display: flex;
  flex-direction: row;
  clear: both;
  /*padding-top: 200px;*/
}
main > aside  {
  width: 33%;
  margin: 0px 20px;
}
main > section, main > article {
  width: 60%;
  margin: 0px 20px;
}
h1, h2, h3, h4 {
  clear: both;
  display: block;
  text-transform: uppercase;
  word-spacing: 10px;
  text-shadow: -1px 1px grey;
  padding-left: 10px;
  margin-bottom: 10px;
}
header {
  /*position: fixed;*/
  display: block;
  height: 200px;
  width: 100%;
}
header > * {
  position: relative;
  float: left;
}
main p {
  margin-top: -5px;
  color: #444444;
}
nav {
  height: 40px;
  margin-top: 40px;
  width: 50%;
  min-width: 420px;
  display: flex;
  flex-direction: row;
}
nav a {
  width: 100px;
  border-bottom: dotted;
  text-align: center;
  margin-right: 40px;
  text-decoration: none;
  font-size: 24px;
}
#logo_link {
  width: 200px;
  height: 200px;
  background-image: url(logo.png);
  background-position: -25px -15px;
  content: " ";
}
body {
  font-family: 'Proxima Nova';
}
footer p {
  text-align: center;
}
