#bacon {
  font-family: 'Courier New', Courier, monospace;
  background-image: url(bacon.jpg);
  background-repeat: repeat;
  color: #fff;
  font-weight: bold;
  font-size: 150%;
}
#bacon nav {
  padding-top: 50px;
}
#bacon a:link, #bacon a:visited, #bacon a:active  {
  text-decoration: none;
  color: #f0f0f0;
}
#bacon aside {
  float: left;
}
#bacon section {
  float: right;
}
#bacon img {
  filter: grayscale(100%);
}