body {
  font-family: Tahoma;
}
header, footer, main {
  clear: both !important;
  display: block;
  min-height: 100px;
  text-align: center;
}
section, aside, nav {
  float: left;
  margin: 25px;
  position: relative;
  text-align: left;
}
section {
  width: 60%;
}
section img {
  width: 100px;
}
section h1 {
  clear: both;
  padding-top: 30px;
}
aside {
  width: 30%;
  float: right;
}
nav {
  vertical-align: middle;
  width: 50%;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.logoImg {
  width: 150px;
  height: auto;
}
.myPhotos {
  padding:10px;
  border:10px solid #021a40;
  background-color:#ff0;
}
#primaryPhoto {
  padding:20px;
  border:10px solid #080808;
  background-color:#676767;
}
img {
  float: left;
  position: relative;
  margin-right: 20px;
}
.cta {
  background-color: deeppink;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 0 5px;
}
@media only screen and (max-width: 500px) {
  section, article, aside {
    width: 90%;
    float: left;
    display: block;
  }
}